#splashPage {
    height: 100vh;
    background-image: url('./images/paper.jpg');
    background-position: center;
    background-size: cover;
  }

#splashCol {
    height: 75vh;
}

#splashText {
    font-size: 150px;
    font-weight: bolder;
    font-family: Caveat, cursive
}

.myEditorBtn {
    margin: 5px;
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    border-radius: 5px;
}

.myEditorBtn:hover {
    cursor: pointer;
}

#boldBtn {
    font-weight: bold;
}

#underlineBtn {
    text-decoration: underline;
}

#italicBtn {
    font-style: italic;
}